<nav>
  <ul class="horizontal-navigation">
    <li class="horizontal-navigation__item">
      <a class="horizontal-navigation__link" href="/">
        <i class="mdi mdi-home mdi-24px"></i>
        Home
      </a>
    </li>
    <li class="horizontal-navigation__item">
      <a class="horizontal-navigation__link" href="/latest">
        <i class="mdi mdi-home mdi-24px"></i>
        latest
      </a>
    </li>
  </ul>
</nav>
