@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bulma-family-primary: 'Poppins', sans-serif;
  --darker-blue: #14141D;
  --dark-blue: #17182A;
  --light-purple: #8F84FF;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

body {
  padding: 1rem;
  background-color: var(--darker-blue);
  height: 100vh;
}

section {
  background-color: var(--darker-blue);
}

.horizontal-navigation {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1.2rem;
  /* padding: 1rem 0 2rem 1rem; */
  padding: 1rem 3rem;
}

.mdi {
  color: var(--light-purple);
  margin-right: .3rem;
}

.horizontal-navigation__item {
  display: flex;
  align-items: baseline;
  gap: .5rem;
}

.horizontal-navigation__link {
  color: white;
  margin-bottom: 1rem;
}

.grid {
  display: grid; 
  grid-template-columns: repeat(6, 1fr); 
  gap: 1.5rem;
  row-gap: 0;
}

.show__container {
  display: flex;
  flex-direction: column;
}

.show__picture {
  border-radius: .5rem;
  background-size: cover; 
  background-position: center;
  height: 25rem;
  /* max-width: 260px; */
}

.show__link {
  font-size: 1rem;
  color: var(--light-purple);
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.latest-show__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 1rem;
  color: var(--light-purple);
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 1rem 0;
}

.section {
  padding-top: 0;
}